@mixin square(
  $color,
  $transform: translate(-5%, 3%),
  $width: 100%,
  $height: 100%
) {
  border: 1px dashed #000;
  border-radius: 5px;
  &:after {
    content: "";
    position: absolute;
    width: $width;
    height: $height;
    transform: $transform;
    background-color: $color !important;
    border-radius: 5px;
    opacity: 0.6;
    z-index: 0;
  }
}
